<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:build="http://schemas.microsoft.com/developer/appx/2015/build"
  IgnorableNamespaces="uap mp build">

  <Identity
    Name="0483f8d2-f8fd-62bd-7d63-0d4eb77ff258"
    Version="1.0.0.0"
    Publisher="CN=user" />

  <mp:PhoneIdentity PhoneProductId="0483f8d2-f8fd-62bd-7d63-0d4eb77ff258" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  
  <build:Metadata>
    <build:Item Name="GenerationTool" Version="manifoldjs" />
    <build:Item Name="GenerationToolVersion" Version="0.7.6" />
    <build:Item Name="PlatformId" Value="windows10" />
    <build:Item Name="PlatformPackage" Value="manifoldjs-windows10" />
    <build:Item Name="PlatformVersion" Version="0.1.8" />
    <build:Item Name="GeneratedFrom" Value="CLI" />
    <build:Item Name="GenerationDate" Value="2017-04-14 18:40:29 Z" />
  </build:Metadata>

  <Properties>
    <DisplayName>DxLiquidappAzurewebsitesNet</DisplayName>
    <PublisherDisplayName>user</PublisherDisplayName>
    <Logo>images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application
      Id="DxLiquidappAzurewebsitesNet"
      StartPage="https://dx-liquidapp.azurewebsites.net/">

      <uap:VisualElements
        DisplayName="DxLiquidappAzurewebsitesNet"
        Description="DxLiquidappAzurewebsitesNet"
        BackgroundColor="blue"
        Square150x150Logo="images\Square150x150Logo.png"
        Square44x44Logo="images\Square44x44Logo.png">
        <uap:LockScreen Notification="badge" BadgeLogo="images\BadgeLogo.png" />
				<uap:SplashScreen Image="images\SplashScreen.png" /> 
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png" 
                          Square310x310Logo="images\Square310x310Logo.png" 
                          Square71x71Logo="images\Square71x71Logo.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      
      <uap:ApplicationContentUriRules>
        
				<uap:Rule Type="include" WindowsRuntimeAccess="none" Match="https://dx-liquidapp.azurewebsites.net/" />
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    
  </Capabilities>

</Package>